/* Colori di sfondo */
body {
    font-family: 'Roboto';
    font-size: large;
}

.background-body {
    background: linear-gradient(to top, mediumseagreen, #4782be9e, #7bdec9, mediumseagreen);
    min-height: 100vh; /* Assicurati che il gradiente copra tutta l'altezza della pagina */
}

.background-content {
    background-color: #7bdec9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#login-button {
    box-shadow: 0px 0px 4px 0px;
    width: 100px;
    height: 80px;
    font-size: medium !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
    border-color: darkblue;
    border: 0px solid;
    background-image: radial-gradient(#0dcaf0, #000bff38);
}

#login-button img {
    width: 40%;
}

/* Imposta una larghezza minima per i bottoni e li rende flessibili */
/* .header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    min-width: 100px; 
    margin: 0.5rem; 
    flex: 1 1 auto; 
    color: black;
    background-image: linear-gradient(#000bff38, #0dcaf0);
    transition: color 0.5s ease, font-size 0.5s ease
} */
/*
.header-button:hover{
    color: black;*/
/*font-size: 20px;*/
/*font-size: 30px !important;
text-decoration: none;
}*/

.header-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 1rem; */
    /* min-width: 100px; */
    width: 13%;
    /* margin: 0.5rem; */
    flex: 1 1 auto;
    color: black;
    background-image: linear-gradient(#000bff38, #0dcaf0);
    transition: color 0.5s ease, font-size 0.5s ease;
    align-items: center;
}

.header-button:hover {
    color: black;
    /* font-size: larger !important; */
    width: 13%;
    /* padding: 1%; */
    /* font-size: 28px !important; */
    text-decoration: none;
}

/* Assicura che le immagini non superino una certa altezza e mantengano le proporzioni */
.header-button img {
    max-height: 50px;
    height: auto;
    margin-bottom: 0.5rem; /* Spazio tra l'immagine e il testo */
}

/* Spazio tra i bottoni nella nav */
nav {
    gap: 0.5rem; /* Distanza tra i bottoni */
}

footer {
    margin-top: 30px
}

.content-tabs{
    background-color: #8bd9c3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px 0px gray
}

.nav-pills{
    --bs-border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #0b7f7f;
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: white;
    --bs-nav-pills-link-active-bg: #0b7f7f;
    --bs-link-color: #ffffff;
    --bs-nav-link-hover-color: dark
}

.btn-primary{
    --bs-border-radius: 50px 50px;
    --bs-btn-bg: #0b7f7f;
    --bs-btn-hover-bg: #054545;
    --bs-btn-border-color: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.card-with-link {
    --bs-card-color: black;
}
.card-with-link:hover {
    cursor: pointer;
    --bs-card-color: blue;
}

.download-tab {
    background-color: #ffffff59;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px 0px gray;
}

.info {
    box-shadow: -3px -1px 10px 0px;
    background-color: azure;
    border-radius: 1rem;
    padding: 2rem;
}

.info-responsabile {
    box-shadow: 0px 0px 5px 0px;
    background-color: azure !important;
}

.edit-button {
    border-radius: 50%;
    background-color: #ffff009c;
    --bs-btn-hover-bg: #d0d001;
}

.edit-img {
    content:url("https://img.icons8.com/?size=100&id=11683&format=png&color=000000");
    max-height: 15px;
    max-width: 15px;
}

.delete-img {
    content:url("https://img.icons8.com/?size=100&id=85387&format=png&color=000000");
    max-height: 15px;
    max-width: 15px;
}
.card-header-responsabile {
    border: 0px solid;
    background-color: azure !important;
}

.bg-grad {
    background-color: rgb(0 0 0 / 6%) !important;
}

.remove-button {
    /*border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;*/
    border-radius: 0px 50% 50% 0px;
    background-color: orangered;
    --bs-btn-hover-bg: #c15932;
}

.recurrent-warning {
    text-align-last: right;
    margin-right: 3%;
    margin-bottom: 2%;
}

input, select, .form-control, .form-button, .btn-outline-danger, .btn-outline-primary, .btn-outline-success {
    border-radius: 25px !important;
}

.checkbox-modifica {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn: #000000;
    --bs-btn-active-bg: #0b7f7f;
    border-radius: 25px;
    width: fit-content;
}

.groups-checkbox-modifica {
    max-width: 75%;
}

.bottone-modifica {
    --bs-btn-bg: #0d6efd
}

.go-back{
    content:url("https://img.icons8.com/?size=100&id=26191&format=png&color=000000");
    width: 40px;
    height: 40px;
}

tbody, thead {
    text-align: center;
}

.col-md-2 {
    width: fit-content;
}

.form-check {
    padding: 5px;
}

.badge-info {
    color: #FFFFFF;
    background-color: #0b7f7f;
    border-radius: 25px;
    width: fit-content;
}

.card, .card-body, .card-footer, .card-header {
    background-color: #dae6f2;
}

.card-title {
    font-size: x-large !important;
}
.border-secondary {
    --bs-border-opacity: 0.5;
}

.list-group {
    --bs-list-group-bg: #0b7f7f8c; /*rgb(0 127 255 / 26%);*/
}

.list-group a {
    color:darkslategrey;
}

.list-group a:hover {
    text-decoration: underline;
    color: #0b3a29;
    text-shadow: 0px 0px 20px lightsteelblue;
}

/* Media query per schermi medi (da 768px a 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .header-button {
        width: 30%;
        font-size: 13px;
    }

    .nav.nav-justify {
        justify-content: center;
    }


    .header-button img {
        margin-bottom: 10px;
    }
}

/* Media query per schermi molto piccoli (smartphone) */
@media (max-width: 768px) {
    .header-button {
        width: 45%;
    }
}

/* Media query per schermi molto molto piccoli (smartphone piccoli) */
@media (max-width: 576px) {
    .header-button {
        width: 100%;
    }
}