/* Colori di sfondo */
body {
    font-family: 'Roboto';
    font-size: 18px;
}

.btn {
    font-size: inherit;
}

p {
    font-size: inherit;
}

.background-body {
    background: linear-gradient(to top, mediumseagreen, #4782be9e, #7bdec9, mediumseagreen);
    min-height: 100vh; /* Assicurati che il gradiente copra tutta l'altezza della pagina */
}

.background-content {
    background-color: #7bdec9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#login-button {
    box-shadow: 0px 0px 4px 0px;
    width: 100px;
    height: 80px;
    font-size: medium !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
    border-color: darkblue;
    border: 0px solid;
    background-image: radial-gradient(#0dcaf0, #000bff38);
}

#login-button img {
    width: 40%;
}

/* Imposta una larghezza minima per i bottoni e li rende flessibili */
/* .header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    min-width: 100px; 
    margin: 0.5rem; 
    flex: 1 1 auto; 
    color: black;
    background-image: linear-gradient(#000bff38, #0dcaf0);
    transition: color 0.5s ease, font-size 0.5s ease
} */
/*
.header-button:hover{
    color: black;*/
/*font-size: 20px;*/
/*font-size: 30px !important;
text-decoration: none;
}*/

.header-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 1rem; */
    /* min-width: 100px; */
    width: 13%;
    /* margin: 0.5rem; */
    flex: 1 1 auto;
    color: black;
    background-image: linear-gradient(#000bff38, #0dcaf0);
    transition: color 0.5s ease, font-size 0.5s ease;
    align-items: center;
}

.header-button:hover {
    color: black;
    /* font-size: larger !important; */
    width: 13%;
    /* padding: 1%; */
    /* font-size: 28px !important; */
    text-decoration: none;
}

/* Assicura che le immagini non superino una certa altezza e mantengano le proporzioni */
.header-button img {
    max-height: 50px;
    height: auto;
    margin-bottom: 0.5rem; /* Spazio tra l'immagine e il testo */
}

/* Spazio tra i bottoni nella nav */
nav {
    gap: 0.5rem; /* Distanza tra i bottoni */
}

footer {
    margin-top: 30px
}

.content-tabs{
    background-color: #8bd9c3;
    padding: 20px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: -5px -5px 10px 0px gray
}
.nav-item {
    background-color: #8bd9c3;
    border-radius: 10px 10px 0px 0px;
}

.nav-item:hover {
    background-color: #64bfa6;
}

.nav-pills{
    --bs-border-radius: 10px 10px 0px 0px;
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: white;
    --bs-nav-pills-link-active-bg: #0b7f7f;
    --bs-link-color: darkgreen;
    --bs-nav-link-hover-color: dark
}

.btn-primary{
    --bs-border-radius: 50px 50px;
    --bs-btn-bg: #0b7f7f;
    --bs-btn-hover-bg: #054545;
    --bs-btn-border-color: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.card-with-link {
    min-height: 9rem;
    --bs-card-color: black;
}
.card-with-link:hover {
    text-decoration: none !important;
    cursor: pointer;
    --bs-card-color: blue;
}

.download-tab {
    background-color: #ffffff59;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px 0px gray;
}

.info {
    box-shadow: -3px -1px 10px 0px;
    background-color: azure;
    border-radius: 1rem;
    padding: 2rem;
}

.info-responsabile {
    box-shadow: 0px 0px 5px 0px;
    background-color: azure !important;
}

.edit-button {
    font-size: initial !important;
    border-radius: 50%;
    background-color: #ffff009c;
    --bs-btn-hover-bg: #d0d001;
}

.edit-img {
    content:url("https://img.icons8.com/?size=100&id=11683&format=png&color=000000");
    max-height: 15px;
    max-width: 15px;
}

.delete-img {
    content:url("https://img.icons8.com/?size=100&id=85387&format=png&color=000000");
    max-height: 15px;
    max-width: 15px;
}

.download-img {
    content:url("https://img.icons8.com/?size=100&id=365&format=png&color=000000");
    max-height: 15px;
    max-width: 15px;
}

.upload-img {
    content: url("https://img.icons8.com/?size=100&id=367&format=png&color=000000");
    max-height: 15px;
    max-width: 15px;
}

.add-img {
    content: url("https://img.icons8.com/?size=100&id=4dgyaQft1hCX&format=png&color=000000");
    max-height: 15px;
    max-width: 15px;
}

.mail-img {
    content: url("https://img.icons8.com/?size=100&id=12623&format=png&color=000000");
    max-height: 30px;
    max-width: 30px;
}

.drop-img {
    content: url("https://img.icons8.com/?size=100&id=3720&format=png&color=000000");
    max-height: 20px;
    max-width: 20px;
}
.card-header-responsabile {
    border: 0px solid;
    background-color: azure !important;
}

.bg-grad {
    background-color: rgb(0 0 0 / 6%) !important;
}

.bg-section {
    background-color: rgba(0, 0, 0, 0.125) !important;
}

.remove-button {
    /*border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;*/
    border-radius: 0px 50% 50% 0px;
    background-color: orangered;
    --bs-btn-hover-bg: #c15932;
}

.recurrent-warning {
    text-align-last: right;
    margin-right: 3%;
    margin-bottom: 2%;
}

input, select, .form-control, .form-button, .btn-outline-danger, .btn-outline-primary, .btn-outline-success, .btn-success {
    border-radius: 25px !important;
}

.checkbox-modifica {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn: #000000;
    --bs-btn-active-bg: #0b7f7f;
    border-radius: 25px;
    width: fit-content;
}

.groups-checkbox-modifica {
    max-width: 75%;
}

.groups-section {
    border: 1px solid #8080806e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: #96d8c1;
    text-align: center;
}

.bottone-modifica {
    --bs-btn-bg: #0d6efd
}

.go-back{
    content:url("https://img.icons8.com/?size=100&id=26191&format=png&color=000000");
    width: 40px;
    height: 40px;
}

tbody, thead {
    text-align: center;
}

.col-md-2 {
    width: fit-content;
}

.form-check:not(.form-switch) {
    padding: 5px;
}


.badge-info {
    color: #FFFFFF;
    background-color: #0b7f7f;
    border-radius: 25px;
    width: fit-content;
}

.card, .card-body, .card-footer, .card-header {
    background-color: #dae6f2;
}

.card-title {
    font-size: x-large !important;
}
.border-secondary {
    --bs-border-opacity: 0.5;
}

.list-group {
    --bs-list-group-bg: #48bebe8c; /*rgb(0 127 255 / 26%);*/
}

.list-group a {
    color:darkslategrey;
}

.list-group a:hover {
    text-decoration: underline;
    color: #0b3a29;
    text-shadow: 0px 0px 20px lightsteelblue;
}

.table-responsive {
    border-radius: 1rem;
}

.table {
    margin-bottom: unset;
}

/* Media query per schermi medi (da 768px a 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    
    body{
        font-size: smaller !important;
    }
    
    .header-button {
        width: 30%;
        font-size: 13px;
    }

    .nav.nav-justify {
        justify-content: center;
    }


    .header-button img {
        margin-bottom: 10px;
    }
    
    #auleweb-logo {
        width:90px !important;
    }        
}

/* Media query per schermi molto piccoli (smartphone) */
@media (max-width: 768px) { 
    body{
        font-size: small !important;
    }
    
    .header-button {
        height: 45%;
        width: 45%;
    }
    
    .header-button img {
        margin-bottom: 5px;
    }
    
    #auleweb-logo {
        width:70px !important;
    }
}

/* Media query per schermi molto molto piccoli (smartphone piccoli) */
@media (max-width: 576px) {
    body{
        font-size: x-small !important;
    }
    
    .header-button {
        height: fit-content;
        width: fit-content;
    }
    .header-button img {
        margin-bottom: 3px;
    }
    #auleweb-logo {
        width:50px !important;
    }
}

.header-auleweb {
    background-color: rgba(13, 110, 253, 0.25);
    border-radius: 25px;
    padding: 1rem;
    border: 1px solid;
    box-shadow: 1px 2px 6px;
}

#auleweb-logo{
    width: 110px;
}

table:has(thead th:nth-child(5)) th {
    width: 20%;
}

.filter-section {
    background-color: #f7f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-section h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.filter-section .form-check .form-check-input {
    cursor: pointer;
}

.filter-section .form-check .form-check-label {
    cursor: pointer;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #50bf8c;
    border-color: #50bf8c;
}

@media (max-width: 768px) {
    .filter-section {
        padding: 1.5rem;
    }

    .filter-section h5 {
        font-size: 1.1rem;
    }
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #343a40;
    --bs-pagination-bg: #dae6f2;
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: #637b93;
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #f8f9fa;
    --bs-pagination-hover-bg: rgba(0, 0, 0, 0.125);
    --bs-pagination-hover-border-color: #0d0f10;
    --bs-pagination-focus-color: #198754;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #198754b0;
    --bs-pagination-active-border-color: #198754b0;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

#search-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transizione più fluida */
    display: none; /* Nasconde l'elemento inizialmente */
    position: relative; /* Aggiunto per posizionamento del bottone */
}

#search-container.show {
    opacity: 1;
    display: block;
}

#search-container form.d-flex {
    position: relative;
    place-content: center;
    height: fit-content;
    transition: width 0.5s ease-in-out; /* Aggiungiamo una transizione alla larghezza */
}

#search-container form.d-flex input {
    height: 50px;
    width: 25%;
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    background-color: white;
    color: black;
}

#search-container form.d-flex input:focus {
    border-radius: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); /* Animazione più fluida */
}

#search-container form.d-flex button {
    cursor: pointer;
    color: white;
    transition: color 0.5s ease-in-out;
}

#search-container form.d-flex button:hover {
    color: #ffffff;
}

#search-container form.d-flex button:focus ~ input {
    width: 300px; /* Modifica la larghezza quando il bottone è focalizzato */
    border-radius: 0;
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.wrapper {
    /*margin-right: 2rem;*/
    position: relative;
    display: inline-block;
}

.link_wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.btn-login {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #0b7f7f;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 25px;
    /* border: 3px solid #333; */
    transition: all 0.35s;
    position: relative;
    z-index: 1;
}
.icon {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0;
    transform: rotate(45deg);
    z-index: -1;
    transition: all 0.35s;
}

.icon img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    transition: all 0.35s;
}

.btn-login:hover {
    width: 200px;
    border: 3px solid #0b7f7f;
    background: #746e6e29;
    color: #000000;
}

.btn-login:hover + .icon {
    left: -35px;
    top: auto;
    border: 3px solid #212529;
}

.btn-login:hover .icon img {
    transform: rotate(-45deg) scale(1.1); /* Leggera animazione dell'immagine */
}
