<div class="container mt-4">
    <!-- Barra di Ricerca -->
    <div class="search-bar mb-4">
        <form action="search" method="get" class="d-flex">
            <input type="text" class="form-control me-2" name="keyword" placeholder="Inserisci la parola chiave..." value="">
            <button type="submit" class="btn btn-primary">Cerca</button>
        </form>
    </div>

    <div class="tab-container">
        <!-- Tab Navigation -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="eventi-tab" data-bs-toggle="tab" data-bs-target="#eventi" type="button" role="tab" aria-controls="eventi" aria-selected="false">Eventi</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="aule-tab" data-bs-toggle="tab" data-bs-target="#aule" type="button" role="tab" aria-controls="aule" aria-selected="false">Aule</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="gruppi-tab" data-bs-toggle="tab" data-bs-target="#gruppi" type="button" role="tab" aria-controls="gruppi" aria-selected="false">Gruppi</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="generale-tab" data-bs-toggle="tab" data-bs-target="#generale" type="button" role="tab" aria-controls="generale" aria-selected="true">Generale</button>
            </li>
            <#if logininfo??>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="aggiungi_elementi-tab" data-bs-toggle="tab" data-bs-target="#aggiungi_elementi" type="button" role="tab" aria-controls="aggiungi_elementi" aria-selected="false">Aggiungi elementi</button>
            </li>
            </#if>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="generale" role="tabpanel" aria-labelledby="generale-tab">
                <p class="mt-3">Benvenuto nella sezione generale. Qui puoi accedere a tutte le funzionalità disponibili.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href='aule'>Visualizza lista Aule</a></li>
                    <li class="list-group-item"><a href='eventi'>Visualizza lista Eventi</a></li>
                    <li class="list-group-item"><a href='corsi'>Visualizza lista Corsi</a></li>
                    <li class="list-group-item"><a href='responsabili'>Visualizza lista Responsabili</a></li>
                    <li class="list-group-item"><a href='gruppi'>Visualizza lista Gruppi</a></li>
                    <li class="list-group-item"><a href='attrezzature'>Visualizza lista Attrezzature</a></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="aule" role="tabpanel" aria-labelledby="aule-tab">
                <p class="mt-3">Questa è la sezione Aule.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href='aule'>Visualizza lista Aule</a></li>
                    <#if logininfo??>
                    <li class="list-group-item"><a href='aggiungi-aula'>Aggiungi Aula</a></li>
                    </#if>
                    <#if (auleLibere?? && auleLibere?size > 0)>
                        <h3 class="mt-3">Aule Libere</h3>
                        <div class="scroll-container">    
                        <#list auleLibere as aula>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">${aula.nome}</h5>
                                <p class="card-text">${aula.luogo} - ${aula.edificio}</p>
                            </div>
                        </div>
                        </#list>
                    <#else>
                        <p class="mt-3">Attualmente non sono presenti aule libere</p>
                    </#if>
                    </div>
                </ul>
            </div>

            <div class="tab-pane fade" id="eventi" role="tabpanel" aria-labelledby="eventi-tab">
                <p class="mt-3">Questa è la sezione Eventi.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href='eventi'>Visualizza lista Eventi</a></li>
                    <li class="list-group-item"><a href='eventi#downloadEventi'>Download lista Eventi</a></li>
                    <#if logininfo??>
                    <li class="list-group-item"><a href='aggiungi-evento'>Aggiungi Evento</a></li>
                    </#if>
                    <#if (eventiAttuali?? && eventiAttuali?size > 0)>
                    <h3 class="mt-3">Eventi correnti</h3>
                    <div class="scroll-container">
                        <#list eventiAttuali as eventoAttuale>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">${eventoAttuale.nome}</h5>
                                <p class="card-text">${eventoAttuale.orarioInizio?string["HH:mm"]} - ${eventoAttuale.orarioFine?string["HH:mm"]}</p>
                            </div>
                        </div>
                        </#list>
                    </div>
                    <#else>
                        <p class="mt-3">Non sono presenti eventi attualmente in corso</p>
                    </#if>
                    <#if (eventiProssimi?? && eventiProssimi?size > 0)>
                    <h3 class="mt-3">Eventi Prossimi</h3>
                    <div class="scroll-container">
                        <#list eventiProssimi as eventoProssimo>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">${eventoProssimo.nome}</h5>
                                <p class="card-text">${eventoProssimo.orarioInizio?string["HH:mm"]} - ${eventoProssimo.orarioFine?string["HH:mm"]}</p>
                            </div>
                        </div>
                        </#list>
                    </div>
                    <#else>
                        <p class="mt-3">Non sono presenti eventi prossimi che incominceranno nelle prossime 48 ore</p>
                    </#if>
                </ul>
            </div>

            <div class="tab-pane fade" id="aggiungi_elementi" role="tabpanel" aria-labelledby="aggiungi_elementi-tab">
                <p class="mt-3">Questa è la sezione riservata agli amministratori per aggiungere nuove informazioni.</p>
                <#if logininfo??>
                <ul class="list-group">
                    <li class="list-group-item"><a href='aggiungi-evento'>Aggiungi Evento</a></li>
                    <li class="list-group-item"><a href='aggiungi-aula'>Aggiungi Aula</a></li>
                    <li class="list-group-item"><a href='aggiungi-corso'>Aggiungi Corso</a></li>
                    <li class="list-group-item"><a href='aggiungi-responsabile'>Aggiungi Responsabile</a></li>
                    <li class="list-group-item"><a href='aggiungi-gruppo'>Aggiungi Gruppo</a></li>
                    <li class="list-group-item"><a href='aggiungi-attrezzatura'>Aggiungi Attrezzatura</a></li>
                </ul>
                </#if>
            </div>

            <div class="tab-pane fade" id="gruppi" role="tabpanel" aria-labelledby="gruppi-tab">
                <p class="mt-3">Questa è la sezione Gruppi.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href='gruppi'>Filtra eventi per gruppo</a></li>
                    <#if logininfo??>
                    <li class="list-group-item"><a href='aggiungi-gruppo'>Aggiungi Gruppo</a></li>
                    </#if>
                    <#if (gruppi?? && gruppi?size > 0)>
                    <h3 class="mt-3">Lista Gruppi</h3>
                    <div class="scroll-container">
                        <#list gruppi as gruppo>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">${gruppo.nome}</h5>
                                <p class="card-text">${gruppo.descrizione}</p>
                            </div>
                        </div>
                        </#list>
                    </div>
                    <#else>
                        <p class="mt-3">Non sono presenti gruppi</p>
                    </#if>
                </ul>
            </div>
        </div>
    </div>
</div>
