<div class="container mt-5">
    <h1 class="text-center">Site Access</h1>

    <#if credenzialiSbagliate??>
    <div class="alert alert-danger text-center">
        <h2>USERNAME O PASSWORD ERRATI!</h2>
    </div>
    </#if>

    <#if logininfo??>
    <div class="alert alert-success">
        <p>Sei autenticato come: <strong>${logininfo.username}</strong>  <a href="logout" class="btn btn-danger">Logout</a></p>
    </div>
    <#else>
    <div class="card mx-auto w-50">
        <div class="card-body">
            <form method="post" action="login">
                <#if (referrer??)>        
                <input name="referrer" type="hidden" value="${referrer}"/>
                </#if> 
                <div class="mb-3">
                    <label for="u" class="form-label">Username:</label> 
                    <input name="u" id="u" type="text" class="form-control" placeholder="username" required/>
                </div>
                <div class="mb-3">
                    <label for="p" class="form-label">Password:</label> 
                    <input name="p" id="p" type="password" class="form-control" placeholder="password"  required/>
                </div>
                <div class="d-grid justify-content-center">
                    <input value="Login" name="login" type="submit" class="btn btn-primary btn-m"/>
                </div>
            </form>
        </div>
    </div>
    </#if>
</div>