<div class="container">
    <!-- Header -->
    <header class="header-auleweb pb-3 mb-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-4">
                <h1 class="h3 mb-0">AuleWeb</h1>
                <h6>${compiled_on.format('dd/MM/yyyy')}</h6>
                <#if logininfo??>
                <p>Autenticato come: <strong>${logininfo.username}</strong> </p>
                </#if>
                <#if !(thispageurl?contains("search"))>
                    <button class="btn btn-primary text-uppercase fw-bold" id="searchButton" onclick="showSearchBar()">Ricerca</button>
                </#if>
            </div>
            <div class="col-4 text-center">
                <img src="assets/images/logo.png" alt="logo AuleWeb" id="auleweb-logo">
            </div>
            <div class="col-4 text-end wrapper">
                <div class="link_wrapper">
                    <#if logininfo??>
                        <a href="logout?referrer=${thispageurl?url}" class="btn-login">Logout</a>
                        <div class="icon">
                            <img src="https://img.icons8.com/?size=100&id=83179&format=png&color=000000" alt="Icona Torna alla homepage">
                        </div>
                    <#else>
                        <a href="#" class="btn-login" data-bs-toggle="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                        <div class="icon">
                            <img src="https://img.icons8.com/?size=100&id=59818&format=png&color=000000" alt="Icona Torna alla homepage">
                        </div>
                    </#if>
                </div>
            </div>
        </div>
        <!--
        <div>
            <#if logininfo??>
            <a id="login-button" href="logout?referrer=${thispageurl?url}" class="btn btn-outline-secondary btn-login">
                Logout<img src="https://img.icons8.com/?size=100&id=83179&format=png&color=000000" alt="Icona Torna alla homepage">
            </a>
            <#else> -->
            <!-- Trigger per il Modale 
            <a id="login-button" href="#" class="btn btn-outline-secondary btn-login" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login<img src="https://img.icons8.com/?size=100&id=59818&format=png&color=000000" alt="Icona Torna alla homepage">
            </a>
            </#if>
        </div>
        -->

        <!-- Modale Bootstrap per il Login -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Accesso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Alert per login già effettuato -->
                        <#if logininfo??>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            Sei autenticato come: <strong>${logininfo.username}</strong>.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <a href="logout" class="btn btn-danger">Logout</a>
                        </#if>

                        <!-- Form di login per utenti non autenticati -->
                        <#if !(logininfo??)>
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="login">
                                    <#if (referrer??)>        
                                    <input name="referrer" type="hidden" value="${referrer}"/>
                                    </#if> 
                                    <div class="mb-3">
                                        <label for="u" class="form-label">Username:</label> 
                                        <input name="u" id="u" type="text" class="form-control" placeholder="username" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="p" class="form-label">Password:</label> 
                                        <input name="p" id="p" type="password" class="form-control" placeholder="password"  required/>
                                    </div>
                                    <div class="d-grid justify-content-center">
                                        <input value="Login" name="login" type="submit" class="btn btn-primary btn-m"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </#if>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation -->
    <nav class="nav nav-justify">
        <a href="homepage" class="btn btn-outline-secondary header-button">
            <img src="https://img.icons8.com/?size=100&id=2797&format=png&color=000000" alt="Icona Torna alla homepage">
            <br>Homepage
        </a>

        <a href="eventi" class="btn btn-outline-secondary header-button">
            <img src="https://img.icons8.com/?size=100&id=W46IJyiaGbhv&format=png&color=000000" alt="Icona Vai agli eventi">
            <br>Eventi
        </a>

        <a href="aule" class="btn btn-outline-secondary header-button">
            <img src="https://img.icons8.com/?size=100&id=9486&format=png&color=000000" alt="Icona Vai alle aule">
            <br>Aule
        </a>

        <a href="gruppi" class="btn btn-outline-secondary header-button">
            <img src="https://img.icons8.com/?size=100&id=9542&format=png&color=000000" alt="Icona Vai ai gruppi">
            <br>Gruppi
        </a>

        <a href="corsi" class="btn btn-outline-secondary header-button">
            <img src="https://img.icons8.com/?size=100&id=9456&format=png&color=000000" alt="Icona Vai ai corsi">
            <br>Corsi
        </a>

        <a href="responsabili" class="btn btn-outline-secondary header-button">
            <img src="https://img.icons8.com/?size=100&id=2giFYGFaAqfQ&format=png&color=000000" alt="Icona Vai ai responsabili">
            <br>Responsabili
        </a>

        <a href="attrezzature" class="btn btn-outline-secondary header-button">
            <img src="https://img.icons8.com/?size=100&id=9913&format=png&color=000000" alt="Icona Vai ai attrezzature">
            <br>Attrezzature
        </a>
    </nav>
    <div id="search-container" class="mt-4">
        <form action="search" method="get" class="d-flex">
            <input type="text" name="keyword" placeholder="Cerca..." aria-label="Cerca" class="form-control me-2" required>
            <button type="submit" class="btn btn-primary">Cerca</button>
        </form>
    </div>
</div>
